body{
    background-color: #2B2129;
}

.white{
    background-color: #C2956E;
}

.black{
    background-color: #E5D1B8;
}

.selected{
    background-color: red;
}

.board{
    color: rgb(0, 30, 255);
    display: grid; 
    grid-template-columns: repeat(9,80px); 
    grid-template-rows: repeat(9,80px);
}

.cell{
    display: flex; 
    justify-content: center;
    align-items: center;
    color: white;
}

.btn-liste-game{
    display: flex;
    flex-direction: row;
    background: #E5D1B8;
    border: 1px solid #C2956E;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

.img-div-players-liste-game{
    color: black;
    display: flex;
    flex-direction: column;
}

.img-div-players-liste-game p{
    color: black;
    display: flex;
    align-items: center;
}

.img-liste-game{
    width: 35%;
    height: 35%;
}

.p-date-liste-game{
    color: black;
    position:relative;
    top:117px;
    right: 10px;
}

.div-winner-liste-game{
    color: black;
    display: flex;
    align-items: center;
}

.capturedPieces-container{
    display: grid;
    grid-template-columns: repeat(auto-fit,30px);
    img{
        height: 100%;
        width: 100%;
    }
}

.black-player{
    background-color: black;
    width: 50px;
    height: 50px;
}

.white-player{
    background-color: white;
    width: 50px;
    height: 50px;   
}